# Ignore any virtual environment folder
**/venv/

#Ignore Software folder
**/IS_V11716

# Ignore sensitive IBM Cloud keys and connection info
**/*.pem
**/*.key
**/hosts.ini

# Mac system junk
.DS_Store
