# Ignore any virtual environment folder
**/venv/

#Ignore Software folder
**/IS_V11716

# Ignore sensitive IBM Cloud keys and connection info
**/*.pem
**/*.key
**/ansible.log
*secrets.yml
.env
secrets.aws

# Mac system junk
.DS_Store

vm_map_string*
custom_values*

# tar files
*.tar
*.tgz
