# #############################################################################
# IBM InfoSphere Information Server 11.7.1.6 - LEGACY SYNTAX (LITE + XMETA)
# #############################################################################

# 1. Global Installation Logic & RHEL 9 Identity
# Updated: Pointed to the high-capacity standard root installation path
suite.installLocation=/opt/IBM/InformationServer
LIC_AGREEMENT=ACCEPT
target.language.code=en
target.country.code=US
nls.enabled=false
nls.language=English-UTF8

# 2. Tier Selection (Full Lite Stack)
suite.tier[database.tier].selected=true
suite.tier[app.server.tier].selected=true
suite.tier[engine.tier].selected=true

# 3. Product Selection (The "Lite" Core)
product[ISF].selected=true
product[CommonMetadata].selected=true
product[datastage].selected=true
product[ISALite].selected=true

# 4. WebSphere Liberty Configuration (Lite Services)
# Updated: Relocated Liberty profiles natively under the /opt space
app.server.type=liberty
was.install.location=/opt/IBM/WebSphere/Liberty
was.default.host.port=9080
was.secure.default.host.port=9443

# 5. DB2 Engine & Instance (The Native Root Drive Storage)
# Updated: Shifted binary location and aligned the instance home to the standard OS path
use.bundled.db2=true
db2.install.location=/opt/IBM/InformationServer/db2/V11.5
db2.instance.name=db2inst1
db2.instance.user.name=db2inst1
db2.instance.home.directory=/home/db2inst1
db2.instance.group=db2iadm1
db2.port.number=50000

# 6. XMETA Repository (The missing Metadata Core)
# Updated: Positioned the local DB2 repository footprint under /opt
xmeta.db.type=db2
xmeta.db.hostname={{ ansible_hostname }}
xmeta.db.name=xmeta
xmeta.db.user.name=xmeta
xmeta.db.location=/opt/IBM/InformationServer/Repos/xmeta
xmeta.driver.type=DB2_11_5

# 7. Engine & DataStage Tier Configuration
ds.rpc.instance.tag=ade
dsrpc.port=31538
is.admin.user=isadmin
ds.admin.uid=dsadm
ds.admin.gid=dstage

# 8. Credentials (Jinja2 Placeholders)
# Note: Ensure no trailing spaces after the brackets
is.admin.password={{ ibm_password }}
datastage.user.password={{ ibm_password }}
db2.instance.user.password={{ ibm_password }}
app.server.password={{ ibm_password }}
xmeta.db.user.password={{ ibm_password }}