suite.installLocation=/opt/IBM/InformationServer

#Tier selection
suite.tier[app.server.tier].selected=true

#Product selection
product[CommonEvent].selected=true
product[CommonMetadata].selected=true
product[DataQualityExceptionConsole].selected=true
product[FastTrack].selected=true
product[IMAM].selected=true
product[ISALite].selected=true
product[ISF].selected=true
product[InformationAnalyzer].selected=true
product[InformationGovernanceCatalog].selected=true
product[InformationGovernanceDashboard].selected=true
product[MetadataServer].selected=true
product[ThirdParty].selected=true
product[WISD].selected=true
product[datastage].selected=true
product[qualitystage].selected=true

#Variable setting
LIC_AGREEMENT=ACCEPT
DataStage.BalOp=true
DataStage.PX=true
DataStage.SAS=false
DataStage.Server=false
allow.customize.was.profile.ports=true
app.server.password={{ ibm_password }}
app.server.type=was
app.server.user=wasadmin
db.driver=com.ibm.db2.jcc.DB2Driver
db.url=jdbc:db2://server-1:50000/xmeta
ds.client.language.acronym=ENU
ia.db.collection=
ia.db.config.type=db2_11_5_nls
ia.db.driver=com.ibm.db2.jcc.DB2Driver
ia.db.hostname=server-1
ia.db.location=
ia.db.name=iadb
ia.db.password={{ ibm_password }}
ia.db.port=50000
ia.db.type=db2_11_5
ia.db.url=jdbc:db2://server-1:50000/iadb
ia.db.username=iauser
ia.oracle.db.type=
im.shared.directory=/opt/IBM/IMShared
install.path=3
is.admin.password={{ ibm_password }}
is.admin.user=isadmin
is.ha.selected=false
is.was.cluster=false
master.node.host=
master.node.password=
master.node.port=
master.node.user=dsadm
multi.node.flag=false
nls.language=English-UTF8
nls.language.code=ENU
nodes.count=
number.of.nodes=0
odb.db.driver=com.ibm.db2.jcc.DB2Driver
odb.db.url=jdbc:db2://server-1:50000/xmeta
odb.oracle.db.type=
selected.db.type=DB2_11_5
service.ip.range=
target.country.code=US
target.language.code=en
ug.domain.name= 
ug.images.tar.path=
ug.install.dir=
ug.install.flag=false
ug.install.volume=
ug.local.storage.dir=
ug.ssh.pwd.flag=false
ug.upgrade.install.flag=false
use.bundled.was=true
was.admin.host.port=59060
was.bootstrap.port=52825
was.dcs.unicast.port=59353
was.default.host.port=59080
was.install.location=/opt/IBM/WebSphere/AppServer
was.ipc.connector.port=59633
was.mutual.auth.listener.port=59405
was.orb.listener.port=59107
was.profile.id=1464011151988
weave.net.ip.range=
was.sas.ssl.port=59403
was.secure.admin.host.port=59043
was.secure.default.host.port=59445
was.secure.sib.mq.port=55578
was.secure.sib.port=57286
was.server.auth.listener.port=59404
was.sib.mq.port=55558
was.sib.port=57283
was.sip.port=55075
was.sip.secured.port=55076
was.soap.connector.port=58881
xmeta.db.collection=
xmeta.db.config.type=db2_11_5_nls
xmeta.db.hostname=server-1
xmeta.db.location=
xmeta.db.name=xmeta
xmeta.db.password={{ ibm_password }}
xmeta.db.port=50000
xmeta.db.type=db2_11_5
xmeta.db.username=xmeta
xmeta.driver.type=DB2_11_5
xmeta.odb.db.collection=
xmeta.odb.db.config.type=db2_11_5_nls
xmeta.odb.db.hostname=server-1
xmeta.odb.db.location=
xmeta.odb.db.name=xmeta
xmeta.odb.db.port=50000
xmeta.odb.db.registration=true
xmeta.odb.db.schemaName=dsodb
xmeta.odb.db.tablespace=DSODBSPACE
xmeta.odb.db.type=db2_11_5
xmeta.odb.db.user.name=dsodb
xmeta.odb.db.user.password={{ ibm_password }}
xmeta.odb.driver.type=DB2_11_5
xmeta.oracle.db.type=
xmeta.staging.db.password={{ ibm_password }}
xmeta.staging.db.username=xmetasr